<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UseAI{% endblock %}</title>
    <link rel="stylesheet" href="/static/vendor/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/vendor/js/htmx.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>