{% for continent, countries in grouped_countries.items() %}
<details open>
    <summary>{{ continent }}</summary>
    <div style="padding-left: 1rem;">
        {% for country in countries %}
        <label for="country-{{ loop.parent.loop.index }}-{{ loop.index }}">
            <input type="checkbox" id="country-{{ loop.parent.loop.index }}-{{ loop.index }}" name="countries" value="{{ country }}" {% if country in selected_countries
                %}checked{% endif %}>
            {{ country }}
        </label>
        {% endfor %}
    </div>
</details>
{% endfor %}
