<div class="scrollable-list">
    <form hx-post="/selected_countries" hx-trigger="change" hx-target="#selected-countries">
        {% for continent, countries in grouped_countries.items() %}
        <details open>
            <summary>{{ continent }}</summary>
            <div style="padding-left: 1rem;">
                {% for country in countries %}
                <label>
                    <input type="checkbox" name="countries" value="{{ country }}">
                    {{ country }}
                </label>
                {% endfor %}
            </div>
        </details>
        {% endfor %}
    </form>
</div>