{% from "macros/scrollable_box.html" import scrollable_box %}

<form hx-post="/update_main_interface"
    hx-trigger="change from:input[name='countries'], change from:input[name='regulations']" hx-target="#dynamic-area"
    hx-swap="innerHTML" hx-indicator="#loading-indicator" id="report-form">
    <!-- 入力エリア -->
    <div class="grid">
        <!-- 国選択 -->
        {% call scrollable_box(title="国を選択", show_loading=True) %}
        {% include "components/country_selector.html" %}
        {% endcall %}

        <!-- 法規選択 -->
        {% call scrollable_box(title="法規を選択") %}
        {% include "components/regulation_selector.html" %}
        {% endcall %}
    </div>

    <hr>

    <!-- ボタン部 -->
    <div class="c-button-group u-mt-1">
        <button type="button" class="c-prompt-button" hx-post="/preview_prompt"
            hx-include="[name='countries'],[name='regulations']" hx-target="#modal-prompt-content" hx-swap="innerHTML"
            onclick="document.getElementById('prompt-preview-modal').showModal()">
            プロンプト
        </button>
        <button id="execute-button" type="submit" class="c-execute-button" hx-post="/reports" {% if not is_executable
            %}disabled{% endif %}>
            実行
        </button>
    </div>

    <!-- プレビュー表示エリア -->
    <div id="prompt-preview-area" class="u-mt-2"></div>

    <!-- プレビューエリア -->
    <div id="preview-area" class="u-mt-2"></div>
</form>