<form hx-post="/generate_document" hx-trigger="change delay:300ms" hx-target="#main-interface" hx-swap="innerHTML"
    hx-indicator="#loading-indicator">
    <!-- 入力エリア -->
    <div class="grid">
        <!-- 国選択 -->
        <div>
            <h2>
                国を選択
                <span id="loading-indicator" aria-busy="true" class="htmx-indicator"></span>
            </h2>
            <div class="c-scrollable-list">
                {% include "components/country_selector.html" %}
            </div>
        </div>
        <!-- 法規選択 -->
        <div>
            <h2>法規を選択</h2>
            <div class="c-scrollable-list">
                {% include "components/regulation_selector.html" %}
            </div>
        </div>
    </div>

    <hr>

    <!-- プロンプトデバッグ -->
    <div id="document-preview">
        <div class="accordion-item">
            <input type="checkbox" id="accordion-prompt-debug" name="open_accordions" value="prompt-debug"
                class="c-accordion-toggle" {% if 'prompt-debug' in open_accordions %}checked{% endif %}>
            <label for="accordion-prompt-debug" class="c-accordion-header">プロンプト詳細（デバッグ用）</label>
            <div class="c-accordion-content">
                {% include "components/prompt_debug.html" %}
            </div>
        </div>
    </div>

    <!-- 実行ボタン -->
    <div class="grid" style="margin-top: 1rem;">
        <button id="execute-button" type="submit" hx-post="/reports" hx-target="#report-list" hx-swap="outerHTML" {% if
            not is_executable %}disabled{% endif %}> 実行
        </button>
    </div>

    <!-- レポート履歴一覧 -->
    {% include "components/report_list.html" %}

    <!-- プレビューエリア -->
    <div id="preview-area" style="margin-top: 2rem;"></div>
</form>