{% from "macros/scrollable_box.html" import scrollable_box %}

<form id="report-form" _="on change
       set countryChecked to <input[name='countries']:checked/> in me
       set regulationChecked to <input[name='regulations']:checked/> in me
       if countryChecked.length > 0 or regulationChecked.length > 0
         remove @disabled from #execute-button
       else
         add @disabled to #execute-button
       end">
    <!-- 入力エリア -->
    <div class="grid">
        <!-- 国選択 -->
        {% call scrollable_box(title="国を選択", show_loading=True) %}
        {% include "components/country_selector.html" %}
        {% endcall %}

        <!-- 法規選択 -->
        {% call scrollable_box(title="法規を選択") %}
        {% include "components/regulation_selector.html" %}
        {% endcall %}
    </div>

    <hr>

    <!-- ボタン部 -->
    <div class="c-button-group u-mt-1">
        <button type="button" class="c-prompt-button" hx-post="/preview_prompt"
            hx-include="[name='countries'],[name='regulations']" hx-target="#modal-prompt-content" hx-swap="innerHTML">
            プロンプト
        </button>
        <button id="execute-button" type="button" class="c-execute-button" hx-post="/reports"
            hx-include="[name='countries'],[name='regulations']" hx-target="#report-list" hx-swap="outerHTML"
            hx-indicator="#loading-indicator" _="on htmx:afterRequest from me
               if event.detail.successful
                 go to url '/'" disabled>
            実行
        </button>
    </div>

    <!-- プレビュー表示エリア -->
    <div id="prompt-preview-area" class="u-mt-2"></div>

    <!-- プレビューエリア -->
    <div id="preview-area" class="u-mt-2"></div>
</form>