{% from "shared/macros/table.html" import render_table %}

<div id="preview-area">
    <h4>プレビュー</h4>
    {% if headers %}
    <div class="u-mt-2">
        <div class="c-table-header">
            <h3 class="u-m-0">生成結果データ</h3>
            <div>
                <a href="/reports/{{ report_id }}/download_csv" download hx-boost="false" class="u-mr-05">
                    <button type="button">CSV ダウンロード</button>
                </a>
                <a href="/reports/{{ report_id }}/download_excel" download hx-boost="false">
                    <button type="button">Excel ダウンロード</button>
                </a>
            </div>
        </div>
        <div class="c-table-container u-bordered">
            {{ render_table(headers, rows, sticky_header=True, nowrap=True) }}
        </div>
    </div>
    {% else %}
    <p>データがありません。</p>
    {% endif %}
</div>
